.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.login-button button {
  border: none;
  background-color: transparent;
}

.nav-section {
  display: flex;
  justify-content: center;
}
.nav-section img {
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style-type: none;
  /* li태그 점을 없애줌 */
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: -45px;
}
.search-area input {
  border-width: 0px 0px 1px 0px;
}
.card {
  transition: all 0.2s linear;
  border: none !important;
  margin-bottom: 10px;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
  border: none;
}
.Login-area {
  margin-left: 500px;
  padding: 144px;
  margin-right: 208px;
  width: 50%;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}
.hidden-menu {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

@media screen and (max-width: 63rem) {
  .menu-list {
    display: none;
  }
  .menuBar {
    display: contents;
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
  }
  .offcanvas-title {
    margin-bottom: -557px !important;
    line-height: 2.5 !important;
  }
}
